<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cluckr</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/main.css">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="btn btn-secondary" href="/clucks/new">Cluck!</a>
                        </li>
                        <% if (username) { %>
                            <div id="username">
                                <li>
                                    <p><%= username %></p>
                                </li>
                            </div>
                            <li class="nav-item">
                                <a class="btn btn-secondary" href="/clucks/signout">Sign Out</a>
                            </li>
                        <% } else { %>
                            <li class="nav-item">
                                <a class="btn btn-secondary" href="/clucks/signin">Sign In</a>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </nav>
        </header>